    <!--Footer Area Start-->
    <footer class="footer-area bg-img" style="background-image: url(img/bg-img/3.jpg);">
        <div class="main-footer-area">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget">
                            <div class="footer-logo mb-30 d-flex align-items-center">
                                <img src="img/core-img/leaf.png" alt="" style="height:28px;width:auto;margin-right:8px;">
                                <span style="font-weight:700;">Plantify</span>
                            </div>
                            <p>ML-powered plant leaf analysis. Open source, no sign-up required.</p>
                            <div class="social-info">
                                <a href="https://github.com/ArunKumar-25/Plant-Leaf-Recognition" aria-label="GitHub"><i class="fa fa-github" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget">
                            <div class="widget-title">
                                <h5>PROJECT</h5>
                            </div>
                            <ul class="widget-nav">
                                <li><a href="identify.html">Identify a leaf</a></li>
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="https://github.com/ArunKumar-25/Plant-Leaf-Recognition">GitHub</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-bottom-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="border-line"></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->
