    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-circle"></div>
        <div class="preloader-img">
            <img src="img/core-img/leaf.png" alt="">
        </div>
    </div>

    <!--Header Area Start-->
    <header class="header-area">
        <div class="alazea-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <nav class="classy-navbar justify-content-between" id="alazeaNav">

                        <a href="index.html" class="nav-brand d-flex align-items-center">
                            <img src="img/core-img/leaf.png" alt="" style="height:32px;width:auto;margin-right:8px;">
                            <span style="font-weight:700;font-size:1.3rem;">Plantify</span>
                        </a>

                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <div class="classy-menu">
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span>
                                    <span class="bottom"></span>
                                </div>
                            </div>
                            <div class="classynav">
                                <ul>
                                    <li><a href="index.html" data-nav="home">Home</a></li>
                                    <li><a href="index.html#about-us" data-nav="about">About</a></li>
                                    <li><a href="identify.html" data-nav="identify">Identify</a></li>
                                    <li><a href="blog.html" data-nav="blog">Blog</a></li>
                                    <li><a href="https://github.com/ArunKumar-25/Plant-Leaf-Recognition" data-nav="github" target="_blank" rel="noopener">GitHub</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Area End -->
